.jumbotron {
  color: #4e5356;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: solid white 1px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.142);
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
  position: relative; /* Posicionamiento para el botón */
}