<div class="jumbotron m-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center py2">
      <h4 class="mb-0">Resumen de Tareas</h4>

      <div class="d-flex justify-content-end align-items-center py-2">
        <button class="btn btn-outline-light me-3" (click)="prevMonth()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="bi bi-chevron-left"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </button>
        <h5 class="mb-0 text-light">
          {{ currentDate | date : "MMMM yyyy" | titlecase }}
        </h5>
        <button class="btn btn-outline-light ms-3" (click)="nextMonth()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="bi bi-chevron-right"
          >
            <path d="M9 18l6-6-6-6" />
          </svg>
        </button>
      </div>
    </div>


    

    <div class="container mt-2 ">
      <div class="row">
        <!-- Filtro por Proyecto -->
        <div class="col-md-4 d-flex">
          <div class="card p-4 shadow-sm w-100 d-flex flex-column justify-content-between">
            <h6 class="fw-bold">Filtrar por Proyecto</h6>
            <div *ngFor="let proyecto of proyectos" class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                [value]="proyecto.id"
                [checked]="selectedProjectIds.includes(proyecto.id)"
                (change)="toggleProjectSelection(proyecto.id)"
              />
              <label class="form-check-label">
                <span class="dot"></span>
                {{ proyecto.nombre }}
              </label>
            </div>
          </div>
        </div>
    
        <!-- Card en blanco -->
        <div class="col-md-4 d-flex">
          <div class="card p-3 shadow-sm w-100 d-flex flex-column justify-content-between" style="min-height: 250px;">
            <!-- Card vacía -->
            <h6 class="fw-bold">Total de Tareas del Mes</h6>
            <p class="text-muted small">Cantidad de tareas totales del mes {{ currentDate | date : "MMMM yyyy" | titlecase }}</p>
            <p> {{contarTareasProyecto()}} </p>
          </div>
        </div>
    
        <!-- Progreso General -->
        <div class="col-md-4 d-flex">
          <div class="card p-3 shadow-sm w-100 d-flex flex-column justify-content-between" style="min-height: 250px;">
            <h6 class="fw-bold">Progreso General</h6>
            <p class="text-muted small">Promedio de todas las tareas del mes {{ currentDate | date : "MMMM yyyy" | titlecase }}</p>
            <h4 class="fw-bold">{{ progresoGeneral || 0 }}%</h4>
            <div class="progress">
              <div class="progress-bar bg-dark" role="progressbar" 
                   [style.width.%]="progresoGeneral || 0" 
                   aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    



  <div class="accordion mt-3" id="weekAccordion">
    <div *ngFor="let week of weeks" class="accordion-item">
      <h2 class="accordion-header" id="{{ week.id }}">
        <button
          class="accordion-button h1"
          type="button"
          [attr.data-bs-toggle]="'collapse'"
          [attr.data-bs-target]="'#' + week.id + '-collapse'"
          aria-expanded="true"
          [attr.aria-controls]="week.id + '-collapse'"
        >
          Semana del {{ week.start | date : " dd 'de' MMMM 'del' yyyy" }} al
          {{ week.end | date : " dd 'de' MMMM 'del' yyyy" }}
        </button>
      </h2>
      <div id="{{ week.id }}-collapse" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div *ngFor="let project of week.tareas | keyvalue">
            <h5 class="text-primary">
              Proyecto: {{ project.value[0].nombreProyecto }}
            </h5>
            <p>
              Avance del Proyecto:
              {{ project.value[0].porcentajeAvanceProyecto }}%
            </p>

            <ul class="list-group">
              <li *ngFor="let tarea of project.value" class="list-group-item">
                <div>
                  <strong>{{ tarea.nombreTarea }}</strong> -
                  <span class="text-muted">{{
                    tarea.fechaCompromisoTarea | date : "dd/MM/yyyy"
                  }}</span>
                </div>
                <div>
                  <small>Estado: {{ tarea.descripcionEstado }}</small>
                </div>
                <div>
                  <small>Avance: {{ tarea.porcentajeAvanceTarea }}%</small>
                </div>
                <div>
                  <small
                    >Responsable: {{ tarea.nombreUsuario }} ({{
                      tarea.correoUsuario
                    }})</small
                  >
                </div>
                <div>
                  <small>Área: {{ tarea.nombreArea }}</small>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
