<div class="jumbotron m-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center py2">
      <h4 class="mb-0 text-wrap">Resumen de Tareas</h4>

      <div class="d-flex justify-content-end align-items-center py-2">
        <button class="btn btn-outline-light me-3" (click)="prevMonth()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="bi bi-chevron-left"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </button>
        <h5 class="mb-0 text-light">
          {{ currentDate | date : "MMMM yyyy" | titlecase }}
        </h5>
        <button class="btn btn-outline-light ms-3" (click)="nextMonth()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            class="bi bi-chevron-right"
          >
            <path d="M9 18l6-6-6-6" />
          </svg>
        </button>
      </div>
    </div>


    

    <div class="container mt-2 ">
      <div class="row">
        <!-- Filtro por Proyecto -->
        <div class="col-md-4 d-flex">
          <div class="card p-4 shadow-sm w-100 d-flex flex-column justify-content-between">
            <h6 class="fw-bold">Filtrar por Proyecto</h6>
            <div *ngFor="let proyecto of proyectos" class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                [value]="proyecto.id"
                [checked]="selectedProjectIds.includes(proyecto.id)"
                (change)="toggleProjectSelection(proyecto.id)"
              />
              <label class="form-check-label">
                <span class="dot" [ngClass]="getAreaClass(proyecto.nombreAreaProyecto)"></span>
                {{ proyecto.nombre }}
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div class="card p-3 shadow-sm w-100 d-flex flex-column justify-content-between" style="min-height: 250px;">
            <div>
              <h6 class="fw-bold">Filtrar por estado de la Tarea</h6>
              <div *ngFor="let estado of estadosDisponibles" class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="selectedEstados.includes(estado.descripcion)"
                  (change)="toggleEstadoSelection(estado.descripcion)"
                />
                <label class="form-check-label">
                  <span class="dot"></span>
                {{ estado.descripcion }}
                </label>
              </div>
            </div>
            
          </div>
        </div>
    
        <div class="col-md-4 d-flex">
          <div class="card p-3 shadow-sm w-100 d-flex flex-column justify-content-between" style="min-height: 250px;">
            <!-- Total de Tareas -->
            <div class="mb-2">
              <h6 class="fw-bold text-wrap">Total de Tareas del Mes</h6>
              <p class="text-muted small text-wrap">Cantidad de tareas totales del mes {{ currentDate | date : "MMMM yyyy" | titlecase }}</p>
              <p class="fw-bold text-wrap fs-2">{{contarTareasProyecto()}}</p>
            </div>
        
            <!-- Progreso General -->
            <div>
              <h6 class="fw-bold text-wrap">Progreso General</h6>
              <p class="text-muted small text-wrap">Promedio de todas las tareas del mes {{ currentDate | date : "MMMM yyyy" | titlecase }}</p>
              <h4 class="fw-bold text-wrap">{{ progresoGeneral || 0 }}%</h4>
              <div class="progress" style="height: 10px;">
                <div class="progress-bar bg-dark" role="progressbar" 
                     [style.width.%]="progresoGeneral || 0" 
                     aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    
<!-- Visualizador de tareas -->


<div class="container mt-3 ">
  <div class="accordion" id="weekAccordion">
    <div *ngFor="let week of weeks" class="accordion-item">
      <h2 class="accordion-header" id="{{ week.id }}">
        <button
          class="accordion-button fw-bold collapsed"
          type="button"
          [attr.data-bs-toggle]="'collapse'"
          [attr.data-bs-target]="'#' + week.id + '-collapse'"
          aria-expanded="true"
          [attr.aria-controls]="week.id + '-collapse'"
        >
          Semana del {{ week.start | date : "dd 'de' MMMM 'del' yyyy" }} al
          {{ week.end | date : "dd 'de' MMMM 'del' yyyy" }}
        </button>
      </h2>
      <div id="{{ week.id }}-collapse" class="accordion-collapse collapse">
        <div class="accordion-body ">
          <div class="row ">
            <div *ngFor="let project of week.tareas | keyvalue" class="col-md-12 ">
              <h5 class="text-muted mb-1">Proyecto: {{ project.value[0].nombreProyecto }}</h5>
              <div class="row">
                <div *ngFor="let tarea of project.value" class="col-md-12 border-1 border-secondary">
                  <span class="badge p-2 m-2" [ngClass]="getAreaClass(tarea.nombreArea)">{{ tarea.nombreArea }}</span>

                  <span class="badge p-2 m-2" [ngClass]="{
                    'finalizado': tarea.descripcionEstado === 'Finalizado',
                    'pendiente': tarea.descripcionEstado === 'Pendiente',
                    'en-progreso': tarea.descripcionEstado === 'En Progreso'
                  }" >Estado: {{ tarea.descripcionEstado }}</span>
                  
                  <div class="card mb-3 border-0 shadow-sm position-relative">
                    <div class="card-body p-3 border-top border-2 border-dark ">
                      <span class="position-absolute top-0 end-0 p-2 fw-bold text-muted text-wrap">Asignado a: {{ tarea.nombreUsuario }} | ({{tarea.correoUsuario}})</span>
                      <p class="mb-1 text-muted">Tarea: {{ tarea.nombreTarea }}</p>
                      
                      <p class="mb-1 text-muted">Descripción: {{ tarea.descripcionTarea }}</p>
                      <p class="mb-1 text-muted">
                      <p class="mb-1 text-muted">Fecha Compromiso: {{ tarea.fechaCompromisoTarea | date : "dd/MM/yyyy" }}</p>
                      
                      <div>
                        <small>Progreso</small>
                        <div class="progress" style="height: 6px;">
                          <div class="progress-bar " [ngClass]="getAreaClass(tarea.nombreArea)" role="progressbar" [style.width]="tarea.porcentajeAvanceTarea + '%'" aria-valuenow="tarea.porcentajeAvanceTarea" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-end d-block mt-1">{{ tarea.porcentajeAvanceTarea }}%</small>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
