.jumbotron {
  color:#4e5356;
  text-align: start;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: solid white 1px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.142);
  backdrop-filter: blur(90px);
  zoom: 0.9;
}

.p-4 { padding: 1rem; }
.w-full { width: 100%; }
.max-w-md { max-width: 28rem; }
.text-center { text-align: center; }
.border { border: 1px solid #ccc; }
.p-2 { padding: 0.5rem; }
.rounded-lg { border-radius: 0.5rem; }
.shadow { box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
.mt-4 { margin-top: 1rem; }

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}